.spoiler {
  color: transparent;
  transition: all linear 0.3s;
  background: url("~spoiler.svg") repeat-x center 65%;
  cursor: pointer;

  &.revealed {
    color: color("dark-gray");
    background: none;
    border-bottom: none;
    cursor: normal;
  }
}
