@utility pixelated {
  image-rendering: pixelated;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility no-hyphenation {
  hyphens: none;
}

@utility tab-size-2 {
  tab-size: 2;
}

@utility link {
  @apply text-blue-700 hover:underline dark:text-blue-400;
}
