---
import { getPosts } from "../posts.ts";
import SiteLayout from "../layouts/SiteLayout.astro";
import Tag from "../components/Tag.astro";

const posts = await getPosts();
---

<SiteLayout>
  <main class="p-4 max-w-[40rem] mx-auto md:py-16">
    <div
      class="mb-8 pb-8 text-center border-b border-slate-300 sm:mb-12 sm:pb-12 dark:border-slate-700"
    >
      <p class="mb-4">
        <img
          src="/mcmire.png"
          width="128"
          height="128"
          alt="mcmire avatar"
          class="h-[4em] w-[4em] inline rounded-full pixelated border border-neutral-500 shadow-md dark:border-transparent"
        />
      </p>
      <p class="text-lg mb-4">
        Hi, I'm <b>Elliot Winkler</b>.
      </p>
      <p class="text-lg mb-4">
        I've been making computers do things with code since 2005.
      </p>
      <p class="text-lg mb-6">
        I'm currently a staff engineer at <a
          href="https://metamask.io"
          class="link"
          target="_blank">MetaMask</a
        >.
      </p>
      <nav>
        <ul class="flex flex-row gap-2 justify-center">
          <li class="after:content-['•'] after:pl-1">
            <a href="https://github.com/mcmire" class="link" target="_blank"
              >GitHub</a
            >
          </li>
          <li class="after:content-['•'] after:pl-1">
            <a
              href="https://www.linkedin.com/in/elliot-winkler/"
              class="link"
              target="_blank">LinkedIn</a
            >
          </li>
          <li>
            <a href="https://twitter.com/mcmire" class="link" target="_blank"
              >Twitter</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <nav>
      {
        posts.map((post) => (
          <div class="mb-4 sm:mb-2 sm:flex sm:w-full sm:justify-between sm:flex-row sm:gap-4">
            <div class="relative">
              {post.collection === "sample-posts" ? (
                <Tag class="bg-amber-500 dark:bg-amber-500/15 mr-1">sample</Tag>
              ) : null}
              {post.data.published ? null : (
                <Tag class="bg-fuchsia-500 dark:bg-fuchsia-500/15 mr-1">
                  draft
                </Tag>
              )}
              <a href={`/${post.id}`} class="font-semibold link">
                {post.data.title}
              </a>
            </div>
            <div class="text-sm flex-none text-slate-500 sm:text-base">
              {post.data.publishDate
                ? post.data.publishDate.toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                    timeZone: "UTC",
                  })
                : "????"}
            </div>
          </div>
        ))
      }
    </nav>
  </main>
</SiteLayout>
