---
import Layout from "../layouts/Layout.astro";
import Link from "@components/Link.astro";
import avatarPath from "../assets/images/mcmire.gif";
import picturePath from "../assets/images/elliot.jpg";
---
<Layout title="Elliot Winkler" metaDescription="The blog of Elliot Winkler.">
  <div class="h-screen flex items-center justify-center">
    <div class="max-w-xl mx-auto max-h-full">
      <div class="p-8">
        <div class="w-32 h-32 relative group mx-auto mb-8">
          <img
            src={picturePath}
            class="absolute top-0 left-0 w-full rounded-full border border-gray-200 backface-hidden transform transition-transform duration-300 ease-in-out group-hover:rotate-y-0 -rotate-y-180"
          />
          <img
            src={avatarPath}
            class="absolute top-0 left-0 w-full rounded-full border border-gray-200 backface-hidden transform transition-transform duration-300 ease-in-out group-hover:rotate-y-180 pixelated"
          />
        </div>

        <div class="text-center text-lg">
          <div class="mb-8">
            <p class="mb-4">
              I'm <strong>Elliot Winkler</strong>,
              a full-stack web developer based out of Denver, Colorado,
              with over 15 years of experience at product companies and consultancies.
            </p>
            <p class="mb-4">
              Presently I work on the core team at <Link href="https://metamask.io">MetaMask</Link>.
            </p>
            <p class="mb-4">
              I post long-form thoughts and ideas on my <Link href="/blog">blog</Link>.<br />
              I also frequently <Link href="https://twitter.com/mcmire">tweet</Link>.
            </p>
            <p class="mb-4">
              Contact me at <Link href="https://twitter.com/mcmire">@mcmire</Link> or
              <Link href="mailto:elliot.winkler@gmail.com">elliot.winkler@gmail.com</Link>.
            </p>
          </div>
          <hr class="border-none h-px bg-gray-300 mb-8 w-2/5 mx-auto" />
          <ul class="text-xl list-none">
            <li class="inline-block mr-4">
              <Link href="https://github.com/mcmire">Code</Link>
            </li>
            <li class="inline-block mr-4">
              <Link href="https://observablehq.com/@mcmire">Interactive experiments</Link>
            </li>
            <li class="inline-block">
              <Link href="https://www.linkedin.com/in/elliot-winkler/">Curriculum Vitae</Link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>