---
type Props = {
  linkToRawVersion: boolean;
  href: string;
};

const { linkToRawVersion, href } = Astro.props;
---

{
  linkToRawVersion ? (
    <a href={href}>
      <slot />
    </a>
  ) : (
    <slot />
  )
}
