<span is="x-spoiler" class="blur-sm transition-all cursor-pointer">
  <slot />
</span>

<script>
  class Spoiler extends HTMLSpanElement {
    constructor() {
      super();
      this.addEventListener("click", () => {
        this.classList.remove("blur-sm", "cursor-pointer");
      });
    }
  }

  customElements.define("x-spoiler", Spoiler, { extends: "span" });
</script>
