---
import "../styles/index.css";

const { metaDescription, title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body class={Astro.props.class}>
    <slot />
  </body>
</html>