---
import "@fontsource/ibm-plex-mono";
import "@fontsource-variable/figtree";
import "../styles/index.css";

const { title } = Astro.props;
---

<html lang="en" class="res-text-base">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.gif" />
    <title>
      {!title && title !== 0 ? "Elliot Winkler" : `${title} | Elliot Winkler`}
    </title>
    {
      import.meta.env.PROD ?
      <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-FGFP8BJDRG"></script>
      <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-FGFP8BJDRG');
      </script> :
      null
    }
  </head>
  <body
    class="py-4 md:py-12 md:px-20 dark:bg-slate-900 dark:text-slate-300"
  >
    {/* Note: items-start is necessary to get TOC in right place */}
    {
      /* See: <https://element.how/css-debugging-position-sticky-not-working/#:~:text=This%20issue%20is%20usually%20because,to%20be%20'sticky'%20in.> */
    }
    <div
      class="flex flex-col gap-4 md:gap-12 md:flex-row lg:gap-20 xl:items-start"
    >
      <nav
        class="text-center md:sticky md:top-[3rem] md:h-[calc(100vh-6rem)]"
      >
        <a href="/">
          <img
            src="/mcmire.png"
            width="128"
            height="128"
            alt="mcmire avatar"
            class="h-[2.5em] w-[2.5em] inline md:h-[3.5em] md:w-[3.5em] rounded-full pixelated border border-neutral-500 shadow-md dark:border-transparent"
          />
        </a>
      </nav>
      <slot />
    </div>
  </body>
</html>
