%p.avatar
  = image_tag "mcmire.gif"

%p
  Hi, I'm <b>Elliot Winkler</b>, a full-stack web developer with over 15 years
  of experience at product companies and consultancies. I work with a bunch of
  talented folks at <a href="https://metamask.io" target="_blank">MetaMask</a>,
  where we're making web3 accessible to all.

.links
  %ul
    %li
      %a(href="/blog") Blog
    %li
      %a(href="http://github.com/mcmire" target="_blank") Opensource code
    %li
      %a(href="https://observablehq.com/@mcmire" target="_blank")
        Interactive experiments
  %ul
    %li
      %a(href="https://www.linkedin.com/in/elliot-winkler/") Career
    %li
      %a(href="http://twitter.com/mcmire" target="_blank") Twitter
    %li
      %a(href="mailto:elliot.winkler@gmail.com" target="_blank") Contact
