.markdown :is(h2, h3, h4, h5, h6) {
  @apply font-sans text-slate-900 mb-4 clear-both font-medium flex flex-row-reverse justify-end items-center md:flex-row md:justify-start dark:text-slate-100;

  .permalink {
    @apply opacity-0 transition-opacity text-black w-[1.5em] ml-2 md:ml-0 md:absolute md:translate-x-[-100%] md:translate-y-[-8%] dark:text-slate-300;

    svg {
      @apply h-[1em] inline;
    }
  }

  &:hover .permalink {
    @apply opacity-50;
  }
}

.markdown :not(h2, h3, h4, h5, h6) + :is(h2, h3, h4, h5, h6) {
  @apply mt-8;
}

.markdown h2 {
  @apply text-2xl;
}

.markdown h3 {
  @apply text-xl text-slate-600 dark:text-slate-300;
}

.markdown h4 {
  @apply text-lg;
}

.markdown h5 {
  @apply text-base;
}
