name: Deploy site to Vercel
on:
  workflow_call:
    inputs:
      vercel-environment:
        description: 'The Vercel environment you want to build the site under ("preview" or "production").'
        required: true
        type: string
      referring-repo-name:
        description: 'The name of the repository where this workflow was called from.'
        required: false
        type: string
      referring-repo-issue-number:
        description: 'The number of the issue or pull request where this workflow was called from.'
        required: false
        type: number
    secrets:
      VERCEL_ORG_ID:
        description: 'The Vercel organization ID to use.'
        required: true
      VERCEL_PROJECT_ID:
        description: 'The Vercel project ID to use.'
        required: true
      VERCEL_TOKEN:
        description: 'The Vercel token to use.'
        required: true
      # This is only here to make actionlint happy
      UPDATE_DEPLOYMENT_STATUS_TOKEN:
        description: 'The GitHub token to use to update content repos with deployment statuses.'
        required: false
  workflow_dispatch:
    inputs:
      vercel-environment:
        description: 'The Vercel environment you want to build the site under ("preview" or "production").'
        required: true
        type: string
      referring-repo-name:
        description: 'The name of the repository where this workflow was dispatched from.'
        required: false
        type: string
      referring-repo-issue-number:
        description: 'The number of the issue or pull request where this workflow was dispatched from.'
        required: false
        type: number
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ENVIRONMENT: ${{ inputs.vercel-environment }}
  REFERRING_REPO_NAME: ${{ inputs.referring-repo-name }}
  REFERRING_REPO_ISSUE_NUMBER: ${{ inputs.referring-repo-issue-number }}
jobs:
  deploy-to-vercel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install Yarn via Corepack
        run: corepack enable
      - name: Install dependencies
        run: yarn install --immutable
      - name: Pull Vercel environment information
        run: |
          yarn vercel pull --yes --environment="$VERCEL_ENVIRONMENT" --token="$VERCEL_TOKEN"
      - name: Build project artifacts (in ${{ inputs.vercel-environment }} mode)
        run: |
          if [[ "$VERCEL_ENVIRONMENT" == "production" ]]; then
            yarn vercel build --prod --token="$VERCEL_TOKEN"
          else
            yarn vercel build --token="$VERCEL_TOKEN"
          fi
      - name: Deploy project artifacts to Vercel (in ${{ inputs.vercel-environment }} mode)
        id: deploy
        run: |
          if [[ "$VERCEL_ENVIRONMENT" == "production" ]]; then
            yarn vercel deploy --prebuilt --prod --token="$VERCEL_TOKEN" | tee deploy.log
          else
            yarn vercel deploy --prebuilt --token="$VERCEL_TOKEN" | tee deploy.log
          fi
          echo DEPLOYMENT_URL="$(tail -n 1 < deploy.log)" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Add comment to pull request where this workflow was called from
        if: ${{ env.REFERRING_REPO_NAME == 'elliotwinkler.com' && env.REFERRING_REPO_NAME }}
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: process.env.REFERRING_REPO_ISSUE_NUMBER,
              owner: 'mcmire',
              repo: process.env.REFERRING_REPO_NAME,
              body: `:rocket: This branch has been successfully deployed at: <${process.env.DEPLOYMENT_URL}>`
            })
        env:
          DEPLOYMENT_URL: ${{ steps.deploy.outputs.DEPLOYMENT_URL }}
      - name: Add comment to pull request where this workflow was dispatched from
        if: ${{ env.REFERRING_REPO_NAME != 'elliotwinkler.com' && env.REFERRING_REPO_NAME }}
        uses: actions/github-script@v7
        with:
          # This is the difference
          github-token: ${{ secrets.UPDATE_DEPLOYMENT_STATUS_TOKEN }}
          script: |
            github.rest.issues.createComment({
              issue_number: process.env.REFERRING_REPO_ISSUE_NUMBER,
              owner: 'mcmire',
              repo: process.env.REFERRING_REPO_NAME,
              body: `:rocket: This branch has been successfully deployed at: <${process.env.DEPLOYMENT_URL}>`
            })
        env:
          DEPLOYMENT_URL: ${{ steps.deploy.outputs.DEPLOYMENT_URL }}
