name: Deploy site to Vercel
on:
  workflow_call:
    inputs:
      vercel-environment:
        description: 'The Vercel environment you want to build the site under ("preview" or "production").'
        required: true
        type: string
      subrepo-name:
        description: 'The name of the repository where this workflow was called from.'
        required: false
        type: string
      subrepo-pull-request-number:
        description: 'The number of the issue or pull request where this workflow was called from.'
        required: false
        type: number
    secrets:
      VERCEL_ORG_ID:
        description: 'The Vercel organization ID to use.'
        required: true
      VERCEL_PROJECT_ID:
        description: 'The Vercel project ID to use.'
        required: true
      VERCEL_TOKEN:
        description: 'The Vercel token to use.'
        required: true
      # This is only here to make actionlint happy
      UPDATE_DEPLOYMENT_STATUS_TOKEN:
        description: 'The GitHub token to use to update content repos with deployment statuses.'
        required: false
  workflow_dispatch:
    inputs:
      vercel-environment:
        description: 'The Vercel environment you want to build the site under ("preview" or "production").'
        required: true
        type: string
      subrepo-name:
        description: 'The name of the subrepository that has new changes you want to deploy. (Deprecated.)'
        required: false
        type: string
      subrepo-ref:
        description: 'The ref of the subrepo you want to check out. (Deprecated.)'
        required: false
        type: string
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_ENVIRONMENT: ${{ inputs.vercel-environment }}
  SUBREPO_NAME: ${{ inputs.subrepo-name }}
  SUBREPO_PULL_REQUEST_NUMBER: ${{ inputs.subrepo-pull-request-number }}
  SUBREPO_REF: ${{ inputs.subrepo-ref }}
jobs:
  deploy-to-vercel:
    runs-on: ubuntu-latest
    steps:
      - name: Post initial comment to referring pull request
        id: post-comment
        if: ${{ env.SUBREPO_NAME && env.SUBREPO_PULL_REQUEST_NUMBER != '0' }}
        uses: actions/github-script@v8
        with:
          github-token: ${{ env.SUBREPO_NAME == 'elliotwinkler.com' && github.token || secrets.UPDATE_DEPLOYMENT_STATUS_TOKEN }}
          script: |
            const result = await github.rest.issues.createComment({
              issue_number: process.env.SUBREPO_PULL_REQUEST_NUMBER,
              owner: 'mcmire',
              repo: process.env.SUBREPO_NAME,
              body: 'Deploying your branch, please wait...\n\n(This comment will automatically update when complete.)'
            })
            console.log(result);
            return result;
      - uses: actions/checkout@v6
      - name: Check out subrepo
        if: ${{ env.SUBREPO_REF }}
        run: |
          subrepo_directory=
          path=
          url=

          # shellcheck disable=SC2016
          while read -r path; do
            url="$(git config get "submodule.$path.url")"
            if [[ "$url" == "https://github.com/mcmire/$SUBREPO_NAME" ]]; then
              subrepo_directory="$path"
              break
            fi
          done < <(git submodule --quiet foreach 'echo $sm_path')

          if [[ -n "$subrepo_directory" ]]; then
            echo "Entering $subrepo_directory..."
            cd "$subrepo_directory"
            echo "Checking out $SUBREPO_REF..."
            git checkout "$SUBREPO_REF"
          else
            echo "ERROR: Could not find directory for 'https://github.com/mcmire/$SUBREPO_NAME'"
            exit 1
          fi
        shell: bash
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install Yarn via Corepack
        run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn install --immutable
      - name: Pull Vercel environment information
        run: |
          yarn vercel pull --yes --environment="$VERCEL_ENVIRONMENT" --token="$VERCEL_TOKEN"
      - name: Build project artifacts (in ${{ env.VERCEL_ENVIRONMENT }} mode)
        run: |
          if [[ "$VERCEL_ENVIRONMENT" == "production" ]]; then
            yarn vercel build --prod --token="$VERCEL_TOKEN"
          else
            yarn vercel build --token="$VERCEL_TOKEN"
          fi
      - name: Deploy project artifacts to Vercel (in ${{ env.VERCEL_ENVIRONMENT }} mode)
        id: deploy
        run: |
          if [[ "$VERCEL_ENVIRONMENT" == "production" ]]; then
            yarn vercel deploy --prebuilt --prod --token="$VERCEL_TOKEN" | tee deploy.log
          else
            yarn vercel deploy --prebuilt --token="$VERCEL_TOKEN" | tee deploy.log
          fi
          echo DEPLOYMENT_URL="$(tail -n 1 < deploy.log)" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Update comment on referring pull request
        if: ${{ env.SUBREPO_NAME && steps.post-comment.outputs.result && steps.deploy.outputs.DEPLOYMENT_URL }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ env.SUBREPO_NAME == 'elliotwinkler.com' && github.token || secrets.UPDATE_DEPLOYMENT_STATUS_TOKEN }}
          script: |
            const previousCommentResponse = JSON.parse(process.env.PREVIOUS_COMMENT_RESPONSE);
            await github.rest.issues.updateComment({
              owner: 'mcmire',
              repo: process.env.SUBREPO_NAME,
              comment_id: previousCommentResponse.data.id,
              body: `:rocket: This branch has been successfully deployed at: <${process.env.DEPLOYMENT_URL}>`
            })
        env:
          DEPLOYMENT_URL: ${{ steps.deploy.outputs.DEPLOYMENT_URL }}
          PREVIOUS_COMMENT_RESPONSE: ${{ steps.post-comment.outputs.result }}
