name: Main workflow
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  extract-repository-name:
    name: Extract repository name
    runs-on: ubuntu-latest
    steps:
      - id: repository-name
        run: |
          github_repository_name="${GITHUB_REPOSITORY#"$GITHUB_REPOSITORY_OWNER/"}"
          echo "GITHUB_REPOSITORY_NAME=$github_repository_name" >> "$GITHUB_OUTPUT"
    outputs:
      GITHUB_REPOSITORY_NAME: ${{ steps.repository-name.outputs.GITHUB_REPOSITORY_NAME }}
  deploy-to-vercel:
    name: Deploy to Vercel
    needs: extract-repository-name
    uses: ./.github/workflows/deploy-to-vercel.yml
    with:
      vercel-environment: preview
      subrepo-name: ${{ needs.extract-repository-name.outputs.GITHUB_REPOSITORY_NAME }}
      subrepo-pull-request-number: ${{ github.event_name == 'pull_request' && github.event.pull_request.number || 0 }}
    secrets:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
